extends layout

block content

  
  h1 도서 구매 사이트
  a(href="/login") 로그인

  div
  a(href="/product") 책목록

  div 
  a(href="/cartlist") 장바구니

  div  
    a(href="/order/list") 주문내역
  
  div 
    a(href="/review") 리뷰